# 1 Funding Source Environment Configuration Example
PUBLIC_CTA_URL="https://sites.leadconnectorhq.com/preview/0dIJr5xZgpiy3lsveWs0"
PUBLIC_PHONE_NUMBER="(251) 616-1905"
PUBLIC_PHONE_HREF="tel:+12516161905"
PUBLIC_SUPPORT_EMAIL="info@1fundingsource.com"
PUBLIC_COMPANY_NAME="1 Funding Source LLC"
