# OneFunding Environment Configuration Example
PUBLIC_CTA_URL="https://sites.leadconnectorhq.com/preview/0dIJr5xZgpiy3lsveWs0"
PUBLIC_PHONE_NUMBER="(800) 555-0199"
PUBLIC_PHONE_HREF="tel:+18005550199"
PUBLIC_SUPPORT_EMAIL="rates@onefundingllc.com"
PUBLIC_COMPANY_NAME="OneFunding LLC / 1 Funding Source"
